@import "tailwindcss";

@font-face {
  font-family: dm;
  src: url("../../public/assets/fonts/DMSans-Regular.ttf");
  font-size: 16px;
}

@font-face {
  font-family: inter;
  src: url("../../public/assets/fonts/Inter_18pt-Regular.ttf");
}

@font-face {
  font-family: inter-black;
  src: url("../../public/assets/fonts/Inter_18pt-Black.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-display: dm, "sans-serif";
  --font-inter: inter, "sans-serif";
  --font-inter-black: inter-black, "sans-serif";

  --color-company-50: #f7faff;
  --color-company-100: #dae7ff;
  --color-company-200: #bdd6ff;
  --color-company-300: #90bcff;
  --color-company-400: #5c99fe;
  --color-company-500: #3672fb;
  --color-company-600: #2051f0;
  --color-company-700: #183ddd;
  --color-company-800: #1a32b3;
  --color-company-900: #1b308d;
  --color-company-950: #182360;
}

body {
  background: var(--color-company-50);
  color: var(--foreground);
  font-family: var(--font-display);
}
